/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --brand-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-color: #353430;
  --background-color: #fff1f7;

  --font: "IBM Plex mono";

  --background-image: url(../images/cover-image-light.png);
}

.theme_light .header__rec-decor {
  display: none;
}

.theme_light .content-section__title {
  color: var(--title-color);
}

@media (prefers-color-scheme: light) {
  .page {
    --brand-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --title-color: #353430;
    --background-color: #fff1f7;

    --font: "IBM Plex mono";

    --background-image: url(../images/cover-image-light.png);
  }

  .header__rec-decor {
    display: none;
  }

  .content-section__title {
    color: var(--title-color);
  }
}
