/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --brand-color: #ffc2e6;
  --accent-color: #353430;
  --text-color: #353430;
  --title-decor-color: #ff8dcb;
  --subtitle-color: #353430;
  --theme-btn-color: #353430;
  --theme-btn-hvr-color: rgba(50, 49, 45, 0.4);
  --background-color: #fff1f7;

  --background-image: url(../images/cover-image-light.png);
}

.theme_light .header__rec-decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page {
    --brand-color: #ffc2e6;
    --accent-color: #353430;
    --text-color: #353430;
    --title-decor-color: #ff8dcb;
    --subtitle-color: #353430;
    --theme-btn-color: #353430;
    --theme-btn-hvr-color: rgba(50, 49, 45, 0.4);
    --background-color: #fff1f7;

    --background-image: url(../images/cover-image-light.png);
  }

  .header__rec-decor {
    display: none;
  }
}
