/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

.page {
  --brand-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #000028;
  --background-color: #000028;

  --font: "IBM Plex mono";

  --background-image: url(../images/cover-image-dark.png);
}
