/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

.page {
  --brand-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --theme-btn-color: #ff0070;
  --theme-btn-hvr-color: rgba(255, 0, 112, 0.4);
  --background-color: #000028;

  --font: "IBM Plex mono", monospace, sans-serif;
  --logo-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --background-image: url(../images/cover-image-dark.png);
}
